[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/huangchanghu/vim-pathogen.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/huangchanghu/nerdcommenter.git
